@import'reset1.css';

/*瀏覽器小於多少適用之樣式
@media screen and (max-width: 900px){

}*/

body{
	position: relative;
	background: #fbf9f3;
}
h1,h2,h3,h4,h5,h6,p{
	text-align: center;
}
/*清浮動*/
.clearfix::after{
	/*沒有的話新增一個*/
	content: "";
	/*要塊元素才能用clear*/
	display: block;
	clear: both;
}
