@import'reset1.css';

body{
	position: relative;
	background: #fbf9f3;
}
h1,h2,h3,h4,h5,h6,p{
	text-align: center;
}
/*清浮動*/
.clearfix::after{
	/*沒有的話新增一個*/
	content: "";
	/*要塊元素才能用clear*/
	display: block;
	clear: both;
}

#top{
	height: 1px 0 0 0;
	background: #fbf9f3;
}
/*選項列*/
.nav{
	margin: 0 auto;
	padding: 10px 30px;
	border-radius: 25px;
	height: 45px;
	width: 65%;
	background: #fff;
	/*陰影*/
	box-shadow: 0 0 5px #666;
	/*半透明*/
	opacity: 0.9;
	/*margin-top: 50px;*/
	/*黏性定位*/
	position: sticky;
	top: 50px;
}
#title{
	float: left;
}
.btli{
	/*左浮動，橫排*/
	float: right;
	/*width: 80px;*/
	padding: 0 10px;
	/*行高*/
	line-height: 45px;
	/*水平居中*/
	text-align: center;
	/*字的顏色*/
	color: #532100;
	font-weight: bold;
}
.navlist a{
	/*以塊顯示*/
	display: block;
	padding: 0 5px;
	color: #532100;
}
/*滑鼠懸停時*/
.navlist a:hover{
	color: #d7680c;
	background: #feeba9;
	border-radius: 15px;
}

/*受訪者介紹*/
#受訪者介紹{
	padding: 80px 150px 0 150px;
	/*overflow: hidden;*/
	color: #532100;
	font-weight: bold;
}
#受訪者介紹 img{
	float: left;
	width: 300px;
	height: 200px;
	border-radius: 20px;
	margin: 0px 20px 10px 0;
}
#受訪者介紹 h3{
	text-align: left;
	font-size: 20px;
	color: #c55f1d;

}
#受訪者介紹 h4{
	text-align: left;
	line-height: 26px;
	color: #c55f1d;
}
#受訪者介紹 p{
	text-align: justify;
	line-height: 26px;
	text-indent: 2em;
}

/*採訪影片*/
#採訪影片{
	margin: 30px 120px;
	padding: 20px 120px;
	color: #532100;
	background: #fff;
	border-radius: 50px;
}
.videotitle{
	margin: 10px auto 20px ;
	background: #ffe37d;
	height: 50px;
	border-radius: 20px;
}
.videotitle h2{
	line-height: 50px;
}
.video{
	text-align: center;
}
.video iframe{
	width: 711px;
	height: 400px;
}

/*舉辦活動*/
#舉辦活動{
	margin: 30px 120px;
	overflow: hidden;
	color: #532100;
}
.hdtitle{
	margin: 20px auto;
	background: #ffe37d;
	width: 70%;
	height: 50px;
	border-radius: 20px;
}
.hdtitle h2{
	line-height: 50px;
}
/*輪播圖*/
.輪播圖{
	margin: 40px;
}
.輪播圖 img{
	padding: 0 15px;
	float: left;
	width: 30%;
}

/*店家位置*/
#店家位置{
	margin: 30px 120px ;
	padding: 20px 120px ;
	color: #532100;
	background: #fff;
	border-radius: 50px;
}
.positiontitle{
	margin: 10px auto 20px ;
	background: #ffe37d;
	height: 50px;
	border-radius: 20px;
}
.positiontitle h2{
	line-height: 50px;
}
.地圖{
	padding: 0 20px ;
	text-align: center;
}
.地圖 iframe{
	width: 100%;
	height: 400px;
	}

/*友站連結*/
#link{
	height: 300px;
	width: 100%;
}
#linkdetail{
	font-weight: bold;
	padding: 50px 100px;
	height: 165px;
	background-color: #333;
	color: #fff;
}
#linkdetail .img{
	height: 100%;
	float: left;
	margin: 0 40px;
}
#linkdetail img{
	/*margin: auto 20px;*/
	width: 220px;
	height: 190px;
	border-radius: 40px;
}
#linkdetail .detail{
	float: left;
	margin: 30px;
}
#last{
	height: 35px;
	width: 100%;
	background: #fbf9f3;
	color: #857868;
	text-align: center;
	line-height: 35px;
}

/*回到頂部*/
.backtop a{
	display: block;
	height: 50px;
	width: 50px;
	background: #FFEDAD;
	box-shadow: 0 0 2px;
	position: fixed;
	bottom: 60px;
	right: 25px;
	/*之後可刪*/
	color: #532100;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
}
