@import'reset1.css';

body{
	position: relative;
	background: #fbf9f3;
}
h1,h2,h3,h4,h5,h6,p{
	text-align: center;
}
/*清浮動*/
.clearfix::after{
	/*沒有的話新增一個*/
	content: "";
	/*要塊元素才能用clear*/
	display: block;
	clear: both;
}

/*輪播大圖*/
#main{
	width: 100%;
	height: 500px;
	background: #ccc;
	overflow: hidden;
	/*標題盒子，之後想放什麼素材疊加可以用這個改改看*/
		/*用position定位，父元素設置成非默認狀態*/
		/*相對定位*/
		/*position: relative;
		overflow: hidden;*/
}
#main img{
	width: 100%;
	position: relative;
	top: -40px;
	/*vertical-align: bottom;*/
	/*height: 100%;*/
	/*平滑過渡*/
	/*transition: 0.5s;*/
}
/*滑鼠懸停圖片放大*/
#main img:hover{
	/*放大1.2倍*/
	/*transform: scale(1.05);*/
}
/*標題盒子，之後想放什麼素材疊加可以用這個改改看*/
/*.aaa{
	width: 100%;
	height: 30px;
	background: #000;
		絕對定位，感覺不要太常用，不能響應
		position: absolute;
		bottom: 0px;
		left: 0;
}*/

/*選項列*/
.nav{
	margin: 0 auto;
	padding: 10px 30px;
	border-radius: 25px;
	height: 45px;
	width: 65%;
	background: #fff;
	/*陰影*/
	box-shadow: 0 0 5px #666;
	/*半透明*/
	opacity: 0.9;
	margin-top: 20px;
	/*黏性定位*/
	position: sticky;
	top: 50px;
	z-index: 1000;
}
#title{
	float: left;
}
.btli{
	/*左浮動，橫排*/
	float: right;
	/*width: 80px;*/
	padding: 0 10px;
	/*行高*/
	line-height: 45px;
	/*水平居中*/
	text-align: center;
	/*字的顏色*/
	color: #532100;
	font-weight: bold;
}
.navlist a{
	/*以塊顯示*/
	display: block;
	padding: 0 5px;
	color: #532100;
}
/*滑鼠懸停時*/
.navlist a:hover{
	color: #d7680c;
	background: #feeba9;
	border-radius: 15px;
}

/*關於我們*/
#關於我們 .abc{
	margin:50px auto 0;
	background-color: #fff;
	width: 480px;
	height: 480px;
	border-radius: 50%;
}
#關於我們 .def{
	position: relative;
	top: -450px;
	text-align: center;
	font-weight: bold;
	color: #532100;
}
#關於我們 h2{
	font-size: 32px;
	line-height: 50px;
}
#關於我們 p{
	font-size: 18px;
	line-height: 22px;
}

#團隊成員{
	position: relative;
	perspective: 1600px;
	top: -170px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.puppygirls{
	width: 400px;
	height: 250px;
	position: absolute;
	transform-style: preserve-3d;
	animation: a 8s infinite cubic-bezier(.7, 0, .17, 1);
}
.puppygirls div{
	position: absolute;
	background-size: cover;
	opacity: .9;
	width: 400px;
	height: 250px;
	transform: rotateY(calc(var(--i)*120deg)) translateZ(600px);
}
@keyframes 關於我們{
	0%{
		transform: translateZ(-100px) rotateY(0);
	}
	33%{
		transform: translateZ(-100px) rotateY(-120deg);
	}
	66%{
		transform: translateZ(-100px) rotateY(-240deg);
	}
	100%{
		transform: translateZ(-100px) rotateY(-360deg);
	}
}
.lim{
	background-image: url(../image/關於我們/lim.jpg);
}
.xyxyx{
	background-image: url(../image/關於我們/xyxyx.jpg);
}
.lily{
	background-image: url(../image/關於我們/lily.jpg);
}
/*.lun{
	background-image: url(../image/關於我們/lun.jpg);
}*/
.introduce{
	color: #532100;
	position: relative;
	top: 250px;
	width: 100%;
}
.introduce div{
	float: left;
	margin: 30px;
	width: 190px;
	height: 20px;
	font-weight: bold;
}
#指導老師{
	position: relative;
	top: 160px;
	margin: 30px 120px;
	padding: 20px 120px;
	color: #532100;
	background: #fff;
	border-radius: 50px;
}
#指導老師 .title{
	margin: 10px auto 20px ;
	background: #ffe37d;
	height: 50px;
	border-radius: 20px;
}
#指導老師 .title h2{
	line-height: 50px;
}
.teacherin{
	padding: 20px;
	width: 100%;
}
.teacherin div{
	display: inline;
	width: 50%;
}
.teacherin div img{
	width: 200px;
}
#團隊顧問{
	margin: 150px 120px;
	overflow: hidden;
	color: #532100;
}
#團隊顧問 .title{
	margin: 30px auto;
	background: #ffe37d;
	width: 70%;
	height: 50px;
	border-radius: 20px;
}
#團隊顧問.title h2{
	line-height: 50px;
}
.顧問內容{
	margin: 40px;
}
.顧問內容 img{
	padding: 0 15px;
	float: left;
	width: 30%;
}
/*友站連結*/
#link{
	height: 300px;
	width: 100%;
}
#linkdetail{
	font-weight: bold;
	padding: 50px 100px;
	height: 165px;
	background-color: #333;
	color: #fff;
	line-height:27px;
}
#linkdetail a{
	color: #fff;
}
#linkdetail a:hover{
	opacity: .8;
}
#linkdetail .img{
	height: 100%;
	float: left;
	margin: 0 40px;
}
#linkdetail .img img{
	/*margin: auto 20px;*/
	width: 220px;
	height: 190px;
	border-radius: 40px;
}
#linkdetail .detail{
	float: left;
	margin: 30px;
}
.igfb img{
	width: 30px;
	height: 30px;
}
#last{
	height: 35px;
	width: 100%;
	background: #fbf9f3;
	color: #857868;
	text-align: center;
	line-height: 35px;
}

/*回到頂部*/
.backtop a{
	display: block;
	height: 50px;
	width: 50px;
	background: #FFEDAD;
	box-shadow: 0 0 2px;
	position: fixed;
	bottom: 60px;
	right: 25px;
	/*之後可刪*/
	color: #df7338;
	font-weight: bold;
	line-height: 47px;
	text-align: center;
	font-size: 17px;
	border-radius: 15px;
	z-index: 2000;
}