@import'reset1.css';

body{
	position: relative;
	background: #fbf9f3;
}
h1,h2,h3,h4,h5,h6,p{
	text-align: center;
}
/*清浮動*/
.clearfix::after{
	/*沒有的話新增一個*/
	content: "";
	/*要塊元素才能用clear*/
	display: block;
	clear: both;
}

/*#top{
	height: 1px 0 0 0;
	background: #fbf9f3;
}*/
.title{
	height: 300px;
	background-image:linear-gradient(to bottom,white, #fbf9f3);
}
.title p{
	font-size: 50px;
	font-weight: bold;
	color: #d7680c;
	line-height: 300px;
}
/*選項列*/
.nav{
	margin: 0 auto;
	padding: 10px 30px;
	border-radius: 25px;
	height: 45px;
	width: 65%;
	background: #fff;
	/*陰影*/
	box-shadow: 0 0 5px #666;
	/*半透明*/
	opacity: 0.9;
	/*margin-top: 50px;*/
	/*黏性定位*/
	position: sticky;
	top: 50px;
	z-index: 1000;
}
#title{
	float: left;
}
.btli{
	/*左浮動，橫排*/
	float: right;
	/*width: 80px;*/
	padding: 0 10px;
	/*行高*/
	line-height: 45px;
	/*水平居中*/
	text-align: center;
	/*字的顏色*/
	color: #532100;
	font-weight: bold;
}
.navlist a{
	/*以塊顯示*/
	display: block;
	padding: 0 5px;
	color: #532100;
}
/*滑鼠懸停時*/
.navlist a:hover{
	color: #d7680c;
	background: #feeba9;
	border-radius: 15px;
}

/*受訪者介紹*/
#受訪者介紹{
	padding: 50px 100px 0 100px;
	/*overflow: hidden;*/
	color: #532100;
}
#受訪者介紹 .前言{
	width: 50%;
	border-radius: 20px;
	background: gold;
	margin: 0 auto;
	padding: 30px;
	opacity: .8;
	margin-bottom: 50px;
	font-size: 20px;
	line-height:32px;
	font-weight: bold;
}
#受訪者介紹 .前言 p{
	text-align: left;
}
#受訪者介紹 .text{
	width: 100%;
}
#受訪者介紹 .content1{
	padding: 0 100px;
}
#受訪者介紹 .content2{
	padding: 40px 0;
}
#受訪者介紹 .image{
	/*display: inline-block;*/
	width: 25%;
	float: left;
	margin-right: 150px;
	/*vertical-align: top;*/
}
#受訪者介紹 .content2-5{/*
	display: inline-block;
	vertical-align: top;*/
}
#受訪者介紹 img{
	float: left;
	width: 360px;
	height: 240px;
	border-radius: 20px;
	margin: 0px 20px 10px 0;
}
#受訪者介紹 .content3{
	padding: 0 100px;
}
#受訪者介紹 h3{
	text-align: left;
	font-size: 20px;
	color: #c55f1d;

}
#受訪者介紹 h4{
	text-align: left;
	line-height: 26px;
	color: #c55f1d;
}
#受訪者介紹 .text p{
	text-align: justify;
	line-height:32px;
	font-size: 20px;
	/*text-indent: 2em;*/
}

/*採訪影片*/
#採訪影片{
	margin: 30px 120px;
	padding: 20px 120px;
	color: #532100;
	background: #fff;
	border-radius: 50px;
}
.videotitle{
	margin: 10px auto 20px ;
	background: #ffe37d;
	height: 50px;
	border-radius: 20px;
}
.videotitle h2{
	line-height: 50px;
}
.video{
	text-align: center;
}
.video iframe{
	width: 70%;
	height: 350px;
	border-radius: 20px;
}

/*舉辦活動*/
#舉辦活動{
	margin: 30px 120px;
	overflow: hidden;
	color: #532100;
}
.hdtitle{
	margin: 20px auto;
	background: #ffe37d;
	width: 70%;
	height: 50px;
	border-radius: 20px;
}
.hdtitle h2{
	line-height: 50px;
}
/*輪播圖*/
.輪播圖{
	margin: 40px;
}
.輪播圖 img{
	padding: 0 15px;
	float: left;
	width: 30%;
	border-radius: 50px;
}

/*友站連結*/
#link{
	height: 300px;
	width: 100%;
}
#linkdetail{
	font-weight: bold;
	padding: 50px 100px;
	height: 165px;
	background-color: #333;
	color: #fff;
	line-height:27px;
}
#linkdetail a{
	color: #fff;
}
#linkdetail a:hover{
	opacity: .8;
}
#linkdetail .img{
	height: 100%;
	float: left;
	margin: 0 40px;
}
#linkdetail .img img{
	/*margin: auto 20px;*/
	width: 220px;
	height: 190px;
	border-radius: 40px;
}
#linkdetail .detail{
	float: left;
	margin: 30px;
}
.igfb img{
	width: 30px;
	height: 30px;
}
#last{
	height: 35px;
	width: 100%;
	background: #fbf9f3;
	color: #857868;
	text-align: center;
	line-height: 35px;
}

/*回到頂部*/
.backtop a{
	display: block;
	height: 50px;
	width: 50px;
	background: #FFEDAD;
	box-shadow: 0 0 2px;
	position: fixed;
	bottom: 60px;
	right: 25px;
	/*之後可刪*/
	color: #df7338;
	font-weight: bold;
	line-height: 47px;
	text-align: center;
	font-size: 17px;
	border-radius: 15px;
	z-index: 2000;
}
